.container {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 10% 8%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.name {
  align-self: flex-start;
  font-size: 5em;
  margin-top: -0.3em;
  margin-left: 1em;
}

.desc {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}
